unset OS_TENANT_ID
unset OS_TENANT_NAME
export OS_PROJECT_ID=abf14e1b5d5044a89a33469bce9f1f5a
export OS_PROJECT_NAME="paas"
export OS_USER_DOMAIN_NAME="ngintad.local"
export OS_USERNAME="___USUARIO___"
export OS_PASSWORD="___SENHA___"
export OS_REGION_NAME="RegionOne"
export OS_INTERFACE=public
export OS_IDENTITY_API_VERSION=3